<link rel="stylesheet" href="~/FakeHumans.styles.css" />
<div id="footer-wrapper">
    <div>
        <p>
            This is a fake website.<br/>
            All coincidences are random.<br/>
            No actual person or event was depicted.<br/>
        </p>
    </div>
    <div>
        <p>2024</p>
    </div>
</div>